## This is a sample .env.local file.

# The fully qualified domain and port to your LND REST interface.
LND_HOSTNAME=https://lnd-node:8081
# The admin macaroon to your LND node (in hex).
LND_MACAROON=00abcdef1234567890
# A random 32-byte key for encrypting session data (in hex).
SESSION_KEY=00abcdef1234567890
